CompileFlags:
  Add: 
    - "-std=c23" 
    - "-Wno-format"
    - "-Wno-unused-includes"
    - "-Wno-incompatible-pointer-types"
    - "-IC:/glfw-3.4.bin.WIN64/include" 
    - "-IC:/Vulkan-Headers-vulkan-sdk-1.4.304.0/include"     
    - "-IC:/glad/include" 
    - "-I../external" 
    - "-I../include"
    - "-IC:/Program Files (x86)/Microsoft Visual Studio/2022/BuildTools/VC/Tools/MSVC/14.42.34433/include"
    - "-DARRAY_IMPLEMENTATION"
    - "-DWAVEFRONT_IMPLEMENTATION"
    - "-DBUFFER_IMPLEMENTATION"
    - "-DCAMERA_IMPLEMENTATION"
    - "-DLIST_IMPLEMENTATION"
    - "-DMODEL_SQUARE_IMPLEMENTATION"
    - "-DMODEL_IMPLEMENTATION"
    - "-DSHADER_IMPLEMENTATION"
Diagnostics:
  Suppress: pp_hash_error    